@font-face {
	font-family: 'Iosevka Aile Web';
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/woff2/iosevka-aile-regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Iosevka Aile Web';
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('/woff2/iosevka-aile-bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Iosevka Aile Web';
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('/woff2/iosevka-aile-heavy.woff2') format('woff2');
}
@font-face {
	font-family: 'Iosevka Aile Web';
	src: url('/woff2/iosevka-aile-italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Iosevka Web';
	src: url('/woff2/iosevka-regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
}

h1,
h2,
h3,
h4, 
h5,
h6{
	font-family: 'Iosevka Aile Web',Sans-Serif;
	font-weight: 900;
}
code, .post-meta {
    font-family: 'Iosevka Web',monospace;
}
p,li,.breadcrumbs{
  font-family: 'Iosevka aile Web',Sans-Serif;
  font-weight: 400;
}
.caption{
  text-align: center;
  font-size:0.8em;
  font-family: 'Iosevka Aile Web',Sans-Serif;
}
#menu a{
	font-family: 'Iosevka Aile Web',Sans-Serif;
	font-weight: 400;
}
#menu .active{
  font-weight:900;
}
